<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/User/ByName" method="post">
        <label>
            输入查询的名字:<input name="Name" type="text">
        </label>
        <input name="添加" type="submit">
    </form>

    <form action="/User/equip" method="post">
        <label>
            添加的装备ID:<input name="Id" type="text">
        </label>
        <input name="添加" type="submit">
    </form>
    <a href="/Jump/success">返回主页</a>
</body>
</html>